.button{
    display: inline-block;
    background-color: $first-color;
    color: $white-color;
    padding: 1rem 2rem;
    border-radius: .25rem;
    font-size: $normal-font-size;
    transition: .3s;

    &:hover{
        background-color: $first-color-alt;
    }
}