.featured{
    &__container{
        padding-top: 1rem;
    }

    &__filters{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        margin-bottom: 3.5rem;
    }

    &__item{
        width: 48px;
        height: 48px;
        border: none;
        outline: none;
        padding: .75rem;
        border-radius: .75rem;
        background-color: $container-color;
        color: $white-color;
        font-size: $normal-font-size;
        cursor: pointer;
        transition: .3s;

        & img{
            width: 1.5rem;
        }

        & span,
        & img{
            opacity: .3;
            transition: .3s;
        }

        &:hover{
            background-color: $first-color;
        }

        &:hover span,
        &:hover img{
            opacity: 1;
        }

    }

    &__content{
        grid-template-columns: 228px;
        row-gap: 2.5rem;
        justify-content: center;
    }

    &__card{
        position: relative;
        background-color: $container-color;
        padding: 2rem 1.5rem 1.5rem;
        border-radius: 1rem;

        & .shape__smaller{
            position: absolute;
            inset: 0;
            margin: auto;
        }

        &:hover .featured__img{
            transform: translateX(-.25rem);
        }
    }

    &__title,
    &__subtitle,
    &__img{
        position: relative;
    }

    &__title{
        font-size: $h2-font-size;
        margin-bottom: .25rem;
    }

    &__subtitle{
        font-size: $normal-font-size;
        color: $text-color;
        font-weight: 400;
    }

    &__img{
        width: 180px;
        margin: 1.5rem 0;
        transition: .3s;
    }

    &__price{
        font-size: $h3-font-size;
    }

    &__button{
        border: none;
        outline: none;
        background-color: $first-color;
        color: $white-color;
        padding: .75rem 1rem;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 1rem 0rem 1rem 0rem;
        cursor: pointer;

        & i{
            font-size: 1.25rem;
        }

    }
}

.active-featured{
    background-color: $first-color;

    & span,
    & img{
        opacity: 1;
    }
}